NEXT_PUBLIC_APP_CHAIN_ID=88882
NEXT_PUBLIC_DATA_CHAIN_ID=88888
NEXT_PUBLIC_REOWN_PROJECT_ID=
DATABASE_URL=
SESSION_SECRET=
ADMIN_ADDRESSES=
NEXT_PUBLIC_SUBGRAPH_URL_HOLDINGS=
NEXT_PUBLIC_SUBGRAPH_URL_PREDICTIONS=
